:root {
    // Colors
    --color-cobalt: #005baa;
    --color-island: #2990e6;
    --color-cadet: #e1e8ee;

    // Spacing
    --spacing: 10px;
    --spacing-small: 5px;

    // Border Radius
    --border-radius: 6px;

}